<div id="title">
  <h1>The admin users</h1>
</div>
<section class="container" id="section-home">
  <div class="col-md-9 card" style="min-height:25em; color: white; padding: 2em;">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Firstname</th>
                  <th>Email</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users, let i = index" class="text-dark">
              <td>{{ i + 1 }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.email }}</td>
              <td><img src="./assets/admin/img/update.png" data-toggle="modal" data-target="#user-modal-update" (click)="pressUpdUser(user)"/></td>
              <td><img src="./assets/admin/img/delete.png" data-toggle="modal" data-target="#user-modal-delete" (click)="pressDelUser(user)"/></td>
            </tr>
          </tbody>
      </table>
      <button class="btn btn-success" role="button" data-toggle="modal" data-target="#user-modal-create">Add a user</button>
  </div>
</section>

<!-- Modal for adding a user  -->
<div class="modal" id="user-modal-create">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Creating an user</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form #fRegister="ngForm" action="http://localhost:3000/api/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="user-name">Name</label>
                <span *ngIf="fRegister.form.controls.cname?.touched
                       && fRegister.form.controls.cname?.errors"
                       class="user-problem">The name field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-name"
                       name="cname"
                       ngModel
                       required
                       placeholder="type your name">
              </div>
              <div class="form-group">
                <label for="user-firstname">Firstname</label>
                <span *ngIf="fRegister.form.controls.cfirstname?.touched
                       && fRegister.form.controls.cfirstname?.errors"
                       class="user-problem">The firstname field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-firstname"
                       name="cfirstname"
                       ngModel
                       required
                       placeholder="type your firstname">
              </div>
              <div class="form-group">
                <label for="user-address">Address</label>
                <span *ngIf="fRegister.form.controls.caddress?.touched
                       && fRegister.form.controls.caddress?.errors"
                       class="user-problem">The address field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-address"
                       name="caddress"
                       ngModel
                       required
                       placeholder="type an address">
              </div>
              <div class="form-group">
                <label for="user-number">Number</label>
                <span *ngIf="fRegister.form.controls.cnumber?.touched
                       && fRegister.form.controls.cnumber?.errors"
                       class="user-problem">The number field is required</span>
                <input type="number"
                       class="form-control"
                       id="user-number"
                       name="cnumber"
                       ngModel
                       required
                       placeholder="type a number">
              </div>
              <div class="form-group">
                <label for="user-postal">Postal</label>
                <span *ngIf="fRegister.form.controls.cpostal?.touched
                       && fRegister.form.controls.cpostal?.errors"
                       class="user-problem">The postal field is required</span>
                <input type="number"
                       class="form-control"
                       id="user-postal"
                       name="cpostal"
                       ngModel
                       required
                       placeholder="type a postal code">
              </div>
              <div class="form-group">
                <label for="user-city">City</label>
                <span *ngIf="fRegister.form.controls.ccity?.touched
                       && fRegister.form.controls.ccity?.errors"
                       class="user-problem">The city field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-city"
                       name="ccity"
                       ngModel
                       required
                       placeholder="type a city">
              </div>
              <div class="form-group">
                <label for="user-email">Email</label>
                <span *ngIf="fRegister.form.controls.cemail?.touched
                       && fRegister.form.controls.cemail?.errors"
                       class="user-problem">The email address must be required and valid</span>
                <input type="email"
                       class="form-control"
                       id="user-email"
                       name="cemail"
                       ngModel
                       pattern="[^ @]*@[^ @]*"
                       required
                       placeholder="type an email">
                </div>
              <div class="form-group">
                <label for="user-pass">Password</label>
                <span *ngIf="fRegister.form.controls.cpass?.touched
                       && fRegister.form.controls.cpass?.errors"
                       class="user-problem">The password field is required</span>
                <span *ngIf="warning == 'bad credentials'"
                      class="user-problem">The passwords are not the same</span>
                <input type="password"
                       class="form-control"
                       id="user-pass"
                       name="cpass"
                       ngModel
                       minlength="5"
                       required
                       placeholder="type a password">
              </div>
              <div class="form-group">
                <label for="confirm-pass">Confirm Password</label>
                <span *ngIf="fRegister.form.controls.cconfirm?.touched
                       && fRegister.form.controls.cconfirm?.errors"
                       class="user-problem">The confirm field is required</span>
                <span *ngIf="warning == 'bad credentials'"
                       class="user-problem">The passwords are not the same</span>
                <input type="password"
                       class="form-control"
                       id="confirm-pass"
                       name="cconfirm"
                       ngModel
                       minlength="5"
                       required
                       placeholder="confirm the password">
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="fRegister.invalid"
                (click)="registerUser(fRegister)">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-cre-modal">no</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal for adding a user  -->
<div class="modal" id="user-modal-update">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Updating an user</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form #fUpdate="ngForm" action="http://localhost:3000/api/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="user-name-up">Name</label>
                <span *ngIf="fUpdate.form.controls.uname?.touched
                            && fUpdate.form.controls.uname?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-name-up"
                       name="uname"
                       [value]="user.name"
                       ngModel
                       required
                       placeholder="type your name">
              </div>
              <div class="form-group">
                <label for="user-firstname-up">Firstname</label>
                <span *ngIf="fUpdate.form.controls.ufirstname?.touched
                            && fUpdate.form.controls.ufirstname?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-firstname-up"
                       name="ufirstname"
                       [value]="user.first_name"
                       ngModel
                       required
                       placeholder="type your firstname">
              </div>
              <div class="form-group">
                <label for="user-address-up">Address</label>
                <span *ngIf="fUpdate.form.controls.uaddress?.touched
                            && fUpdate.form.controls.uaddress?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="text"
                       class="form-control"
                       id="user-address-up"
                       name="uaddress"
                       [value]="user.address"
                       ngModel
                       required
                       placeholder="type an address">
              </div>
              <div class="form-group">
                <label for="user-number-up">Number</label>
                <span *ngIf="fUpdate.form.controls.unumber?.touched
                            && fUpdate.form.controls.unumber?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="number"
                       class="form-control"
                       id="model.unumber"
                       name="unumber"
                       [value]="user.number"
                       ngModel
                       required
                       placeholder="type a number">
              </div>
              <div class="form-group">
                <label for="user-postal-up">Postal</label>
                <span *ngIf="fUpdate.form.controls.upostal?.touched
                            && fUpdate.form.controls.upostal?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="number"
                       class="form-control"
                       id="user-postal-up"
                       name="upostal"
                       [value]="user.postal_code"
                       ngModel
                       required
                       placeholder="type a postal code">
              </div>
              <div class="form-group">
                <label for="user-city-up">City</label>
                <span *ngIf="fUpdate.form.controls.ucity?.touched
                            && fUpdate.form.controls.ucity?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="text"
                       class="form-control"
                       id="ucity"
                       name="ucity"
                       [value]="user.city"
                       ngModel
                       required
                       placeholder="type a city">
              </div>
              <div class="form-group">
                <label for="user-email-up">Email</label>
                <span *ngIf="fUpdate.form.controls.uemail?.touched
                            && fUpdate.form.controls.uemail?.errors"
                       class="user-problem">The confirm field is required</span>
                <input type="email"
                       class="form-control"
                       id="uemail"
                       name="uemail"
                       [value]="user.email"
                       ngModel
                       required
                       placeholder="type an email">
                </div>
              <div class="form-group">
                <label for="user-pass-up">Password</label>
                <span *ngIf="fUpdate.form.controls.upass?.touched
                            && fUpdate.form.controls.upass?.errors"
                       class="user-problem">The confirm field is required</span>
                <span *ngIf="warning == 'bad credentials'"
                       class="user-problem">The passwords are not the same</span>
                <input type="password"
                       class="form-control"
                       id="user-pass-up"
                       name="upass"
                       [value]="user.pass"
                       ngModel
                       required
                       placeholder="type a password">
              </div>
              <div class="form-group">
                <label for="confirm-pass-up">Confirm Password</label>
                <span *ngIf="fUpdate.form.controls.uconfirm?.touched
                            && fUpdate.form.controls.uconfirm?.errors"
                       class="user-problem">The confirm field is required</span>
                <span *ngIf="warning == 'bad credentials'"
                       class="user-problem">The passwords are not the same</span>
                <input type="password"
                       class="form-control"
                       id="confirm-pass-up"
                       name="uconfirm"
                       [value]="user.confirm"
                       ngModel
                       required
                       placeholder="confirm the password">
              </div>
              <input type="hidden" id="user-id-up" value="{{ user?.id }}">
              <button type="submit" class="btn btn-primary" [disabled]="fUpdate.invalid"
                (click)="updateUser(fUpdate)">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-upd-modal">no</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal for deleting album -->
<div class="modal" id="user-modal-delete">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Deleting an user</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>you are on the point to delete the following user : <span id="show-del-user"></span></p>
            <input type="hidden" id="id-del-user">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-del-modal">no</button>
          </div>
      </div>
  </div>
</div>

