<nav class="navbar navbar-expand-md navbar-color">
  <div class="action-home">
    <a routerLink="/home" style="color:orange!important;text-decoration:none;">MStore</a>
  </div>
  <button class="navbar-toggler hidden-xs-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    &#9776;
  </button>
  <nav class="collapse navbar-collapse" id="collapsingNavbar">
    <ul class="nav navbar-nav">
      <li><a routerLink="/albums" routerLinkActive="active" class="nav-item">Albums</a></li>&nbsp;&nbsp;&nbsp;
      <li><a routerLink="/styles" routerLinkActive="active" class="nav-item">Styles</a></li>&nbsp;&nbsp;&nbsp;
      <li><a routerLink="/artists" routerLinkActive="active" class="nav-item">Artists</a></li>&nbsp;&nbsp;&nbsp;
      <!--<li><a routerLink="/search" routerLinkActive="active" class="nav-item">Search</a></li>&nbsp;&nbsp;&nbsp;-->
    </ul>
  </nav>
</nav>
