<section id="fetch-album" class="container">
  <div class="row">
    <div class="col-md-4">
        <img src="./assets/img/albums/{{ album?.imageName }}" alt="" id="alb-image">
    </div>
    <div class="col-md-8" id="album-info">
        <h3>{{ album?.name }}</h3>
        <p>Artist : {{ album?.artistsName }}</p>
        <p>Album name : {{ album?.name }}</p>
        <p>Date of parution : {{ album?.publishedAt | date:'yyyy-MM-dd' }}</p>
        <p>Music style : {{ album?.typesName }}</p>
        <p class="text-primary">Price : {{ album?.price }} €.</p>
    </div>
  </div>
</section>
<section *ngIf="userName != '' " style="text-align:center; margin-top: 5em;">
  <h1>{{ userName }} || {{ userName | reverseStr }}</h1>
</section>

<app-comment [albumId]="album?.id"
             (userName)="getUserName($event)">
</app-comment>
