<div id="title">
  <h1>Our Albums</h1>
</div>
<section class="container" id="section-home">
  <div class="col-md-9 card" style="min-height:25em; color: white; padding: 2em;">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Style</th>
                  <th>Artist</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let album of albums, let i = index" class="text-dark">
                  <td>{{ i + 1 }}</td>
                  <td>{{ album.name }}</td>
                  <td>{{ album.typesName }}</td>
                  <td>{{ album.artistsName }}</td>
                  <td><img src="./assets/admin/img/update.png" data-toggle="modal" data-target="#album-modal-update" (click)="pressUpdAlbum(album)"/></td>
                  <td><img src="./assets/admin/img/delete.png" data-toggle="modal" data-target="#album-modal-delete" (click)="pressDelAlbum(album)"/></td>
              </tr>
          </tbody>
      </table>
      <button class="btn btn-success" role="button" data-toggle="modal" data-target="#album-modal-create">Add a user</button>
  </div>
</section>

<!-- Modal for adding a album  -->
<div class="modal" id="album-modal-create">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Creating a album</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form #fCreate="ngForm" action="http://localhost:3000/api/upload" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="c-album-name">Name</label>
                <span *ngIf="fCreate.form.controls.cname?.touched
                            && fCreate.form.controls.cname?.errors"
                       class="album-problem">The name field is required</span>
                <input type="text"
                       class="form-control"
                       id="c-album-name"
                       name="cname"
                       placeholder="type an artist"
                       ngModel
                       required >
              </div>
              <div class="form-group">
                <label for="c-album-image">Image</label>
                <span *ngIf="fCreate.form.controls.cimage?.touched
                            && fCreate.form.controls.cimage?.errors"
                       class="album-problem">The image field is required</span>
                <input type="file"
                       class="form-control"
                       id="c-album-image"
                       name="cimage"
                       (change)="onChooseFile($event)"
                       placeholder="type an image"
                       ngModel
                       required >
              </div>
              <div class="form-group">
                <label for="c-album-price">Price</label>
                <span *ngIf="fCreate.form.controls.cprice?.touched
                            && fCreate.form.controls.cprice?.errors"
                       class="album-problem">The firstname field is required</span>
                <input type="number"
                       class="form-control"
                       id="c-album-price"
                       name="cprice"
                       placeholder="type a price"
                       ngModel
                       required >
              </div>
              <div class="form-group">
                <label for="c-album-artist">Artist</label>
                <span *ngIf="fCreate.form.controls.cartist?.touched
                            && fCreate.form.controls.cartist?.errors"
                       class="album-problem">The artist option is required</span>
                <select id="c-album-artist"
                        name="cartist"
                        class="form-control"
                        ngModel
                        required>
                  <option *ngFor="let artist of artists"
                           value="{{ artist.id }}">{{ artist.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="c-album-style">Style</label>
                <span *ngIf="fCreate.form.controls.cstyle?.touched
                            && fCreate.form.controls.cstyle?.errors"
                       class="album-problem">The style field is required</span>
                <select id="c-album-style"
                        name="cstyle"
                        class="form-control"
                        ngModel
                        required>
                  <option *ngFor="let style of styles"
                           value="{{ style.id }}">{{ style.name }}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success" [disabled]="fCreate.invalid" (click)="createAlbum(fCreate)">Submit</button>
          </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-cre-modal">no</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal for updating a album  -->
<div class="modal" id="album-modal-update">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Updating a album</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form #fUpdate="ngForm" action="http://localhost:3000/api/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="u-album-name">Name</label>
                  <span *ngIf="fUpdate.form.controls.uname?.touched
                              && fUpdate.form.controls.uname?.errors"
                         class="album-problem">The name field is required</span>
                  <input type="text"
                         class="form-control"
                         id="u-album-name"
                         value="{{ album?.name }}"
                         name="uname"
                         placeholder="type an artist"
                         ngModel
                         required>
                </div>
                <img src="./assets/img/albums/{{ album?.imageName }}" class="img-fluid" id="display-img" alt="{{ album?.imageName }}"/>
                <input type="hidden" id="old-img-name" value="{{ album?.imageName }}">
                <div class="form-group">
                  <label for="u-album-image">Image</label>
                  <span *ngIf="fUpdate.form.controls.uimage?.touched
                              && fUpdate.form.controls.uimage?.errors"
                         class="album-problem">The firsname field is required</span>
                  <input type="file"
                         class="form-control"
                         id="uimage"
                         name="uimage"
                         (change)="onChooseFile($event)"
                         placeholder="type an image"
                         ngModel
                         required>
                </div>
                <div class="form-group">
                  <label for="uprice">Price</label>
                  <span *ngIf="fUpdate.form.controls.uprice?.touched
                              && fUpdate.form.controls.uprice?.errors"
                         class="album-problem">The number field is required</span>
                  <input type="number"
                         class="form-control"
                         id="u-album-price"
                         value="{{ album?.price }}"
                         name="uprice"
                         placeholder="type a price"
                         ngModel
                         required>
                </div>
                <div class="form-group">
                  <label for="u-album-artist">Artist</label>
                  <span *ngIf="fUpdate.form.controls.uartist?.touched
                              && fUpdate.form.controls.uartist?.errors"
                         class="album-problem">The name field is required</span>
                  <select id="u-album-artist"
                          name="uartist"
                          class="form-control"
                          ngModel
                          required>
                    <option *ngFor="let artist of artists"
                             value="{{ artist.id }}"
                             [selected]="artist.id == selArt">{{ artist.name }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="u-album-style">Style</label>
                  <span *ngIf="fUpdate.form.controls.ustyle?.touched
                              && fUpdate.form.controls.ustyle?.errors"
                         class="album-problem">The name field is required</span>
                  <select id="u-album-style"
                          name="ustyle"
                          class="form-control"
                          ngModel
                          required>
                    <option *ngFor="let style of styles"
                             value="{{ style.id }}"
                             [selected]="style.id == selSty">{{ style.name }}</option>
                  </select>
                </div>
                <input type="hidden"
                       id="u-album-id"
                       name="ualbum"
                       value="{{ album?.id }}"
                       ngModel>
                <button type="submit" class="btn btn-success" [disabled]="fUpdate.invalid" (click)="updateAlbum(fUpdate)">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-upd-modal">no</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal for deleting album -->
<div class="modal" id="album-modal-delete">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Deleting an album</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>you are on the point to delete the following album : {{ album?.name }}</p>
            <input type="hidden" id="id-del-album" value="{{ album?.id }}">
            <input type="hidden" id="img-album" value="{{ album?.imageName }}">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAlbum()">yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">no</button>
          </div>
      </div>
  </div>
</div>
